1. Mengimport library yang akan digunakan

In [ ]:
import numpy as np
import pandas as pd

- Fungsi dari mengimport numpy agar mempermudahkan operasi komputasi tipe data numerik contohnya : penjumlahan, pengurangan, perkalian, pangkat.
-Fungsi pandas digunakan untuk memanipulasi data seperti proses membaca data dari berbagai format contohnya : csv, txt, xlxs.

2. Meload data yang sudah disiapkan

In [ ]:
df = pd.read_csv('uts/tweet_emotions.csv')

df.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

- Fungsi dari read_csv untuk membaca data
set dari file csv lalu menjadikannya data frame
- Fungsi head() adalah untuk menampilkan baris pertama dari dataset.

3. Menghapus kolom yang tidak kita gunakan

In [ ]:
df = df.drop('tweet_id', axis=1)

df.head()

    sentiment                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  @dannycastillo We want to trade with someone w...

- Fungsi dari drop() untuk menghapus baris dan kolom dengan cara menyebutkan nama indeks atau kolom secara langsung

In [ ]:
#PENGOLAHAN DATA

import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
import string
from nltk.tokenize import word_tokenize
import re #regex library
from nltk.probability import FreqDist
import string
import nltk

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

- Disini menggunakan stopword yang digunakan untuk mengambil kata-kata yang tidak penting

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

- Disini menggunakan package punk fungsinya untuk menggunakan tokenizer

In [ ]:
#case folding

df['content'] = df['content'].str.lower()

df.head()

    sentiment                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  layin n bed with a headache  ughhhh...waitin o...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral  @dannycastillo we want to trade with someone w...

- Pada tahap case folding ini adalah tahap konversi. Pada tahap ini biasanya dipilih lowercase untuk membuat huruf kapital menjadi lowercase.
- Lalu fungsi dari str.lower adalah mengubah huruf kapital menjadi huruf kecil.

In [ ]:
#tokenizing

def remove_puntuaction(text):
  return text.translate(str.maketrans("","",string.punctuation))
  df['content'] = df['content'].apply(remove_puntuaction)

- Pada tahap tokenizing ini merupakan metoda untuk memisahkan kata dalam suatu kalimat
- Fungsi dari remove_puntuaction adalah mengganti string.puntuaction berupa symbol (!#$&*+=><?@()[\\]^) dengan ""

In [ ]:
print(df['content'].head())

0    @tiffanylue i know  i was listenin to bad habi...
1    layin n bed with a headache  ughhhh...waitin o...
2                  funeral ceremony...gloomy friday...
3                 wants to hang out with friends soon!
4    @dannycastillo we want to trade with someone w...
Name: content, dtype: object

In [ ]:
#stemming