### UJIAN TENGAH SEMESTER MACHINE LEARNING

Teknik Informatika 3B

(11) Diajeng Nidzom

(12) Farah Zulfa Hamidah

(22) Raditya Catur Narendra - 2041720198

===============================================================================

1. Mengimport Library yang ingin digunakan

In [1]:
import numpy as np
import pandas as pd

- Fungsi dari mengimport numpy agar mempermudahkan operasi komputasi tipe data numerik contohnya : penjumlahan, pengurangan, perkalian, pangkat.

- Fungsi pandas digunakan untuk memanipulasi data seperti proses membaca data dari berbagai format contohnya : csv, txt, xlxs.

2. Meload data yang sudah disiapkan

In [2]:
df = pd.read_csv('uts/tweet_emotions.csv')

df.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

- Fungsi dari read_csv untuk membaca data
set dari file csv lalu menjadikannya data frame

- Fungsi head() adalah untuk menampilkan baris pertama dari dataset.

3. Menghapus kolom yang tidak kita gunakan

In [3]:
df = df.drop('tweet_id', axis=1)

df.head()

    sentiment                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  @dannycastillo We want to trade with someone w...

- Fungsi dari drop() untuk menghapus baris dan kolom dengan cara menyebutkan nama indeks atau kolom secara langsung

### PRA PENGOLAHAN DATA

1. Mengimport library yang akan digunakan

In [4]:
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
import string
from nltk.tokenize import word_tokenize
import re #regex library
from nltk.probability import FreqDist
import string
import nltk

2. Mendownload package yang akan digunakan

In [5]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Radit\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

- Disini menggunakan stopword yang digunakan untuk mengambil kata-kata yang tidak penting

In [6]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Radit\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

- Disini menggunakan package punk fungsinya untuk menggunakan tokenizer

#### Case Folding

In [7]:
df['content'] = df['content'].str.lower()

df.head()

    sentiment                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  layin n bed with a headache  ughhhh...waitin o...
2     sadness                funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends soon!
4     neutral  @dannycastillo we want to trade with someone w...

- Tahap case folding ini adalah tahap konversi. Pada tahap ini biasanya dipilih lowercase untuk membuat huruf kapital menjadi lowercase.

- Lalu fungsi dari str.lower adalah mengubah huruf kapital menjadi huruf kecil.

#### Tokenizing

In [8]:
def remove_puntuaction(text):
  return text.translate(str.maketrans("","",string.punctuation))
  df['content'] = df['content'].apply(remove_puntuaction)

- Tahap tokenizing ini merupakan metoda untuk memisahkan kata dalam suatu kalimat

- Fungsi dari remove_puntuaction adalah mengganti string.puntuaction berupa symbol (!#$&*+=><?@()[\\]^) dengan ""

In [9]:
print(df['content'].head())

0    @tiffanylue i know  i was listenin to bad habi...
1    layin n bed with a headache  ughhhh...waitin o...
2                  funeral ceremony...gloomy friday...
3                 wants to hang out with friends soon!
4    @dannycastillo we want to trade with someone w...
Name: content, dtype: object

In [11]:
def remove_tweet_special(text):
    # remove tab, new line, and back slice
    text = text.replace('\\t', " ").replace('\\n', " ").replace('\\u', " ").replace('\\', " ")
    # remove non ASCII (emoticon, chinese word, etc)
    text = text.encode('ascii', 'replace').decode('ascii')
    # remove mention, link, hashtag
    text = ' '.join(re.sub("([@#][A-Za-z0-9]+)|(\w+:\/\/\S+)", " ", text).split())
    # remove incomplete URL
    return text.replace("http://", " ").replace("https://", " ")

df['content'] = df['content'].apply(remove_tweet_special)

# remove number
def remove_number(text):
    return re.sub(r"\d+", "", text)

df['content'] = df['content'].apply(remove_number)

# remove whitespace leading & trailing
def remove_whitespace_LT(text):
    return text.strip()

df['content'] = df['content'].apply(remove_whitespace_LT)

# remove multiple whitespace into single whitespace
def remove_whitespace_multiple(text):
    return re.sub('\s+', ' ', text)

df['content'] = df['content'].apply(remove_whitespace_multiple)

#remove single char
def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

df['content'] = df['content'].apply(remove_single_char)

#### Stemming

In [13]:
# import Sastrawi package
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

# create stemmer
factory = StemmerFactory()
stemmer = factory.create_stemmer()

# token without stopword
list_tokens = df['content']

# stemming
output = [(token + ": " + stemmer.stem(token)) for token in list_tokens]

output

ModuleNotFoundError: No module named 'Sastrawi'